<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Backend</title>
</head>
<body>

    <h1>Tecnologia Backend</h1>
    <% for(i=0;i<dados.length;i++){ %>
        <p><%=dados[i].conteudo %></p>
    <%}%>
    
</body>
</html>