<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1 style="text-align:center;">Cadastre uma tecnologia:</h1>
    <form action="/cadastro/salvar" method="post">
    <label for='categoria'>Categoria:</label><input type="text" name='categoria'><br /><hr />
    <label for="conteudo">Conteudo</label><input type="text" name="conteudo" id=""><br />

    <input type="submit" value="Cadastrar">
    </form>

</body>
</html>