<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../../CSS/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="/"><img src="../../imagens/LOGO.png" class="img-responsive img-fluid" alt="Full Stack Eletro"></a>
        <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="loja">Lojas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="contato">Contatos</a>
                </li>
            </ul>
        
        </div>
    </nav>


    <header>
        <h2>Fale Conosco</h2><hr>
    </header>

        <div style="text-align: center;">
            <p><img src="../../imagens/email.png" width="50px">contato@fullstackeletro.com <img src="../../imagens/wzap.png" width="55px">(11) 99999-9999</p>
        </div>
 

   <div id="contato">
        <form method="post" action='/contato/salvar'>
            <h4>Mande sua mensagem por aqui</h4>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" style="width: 400px;"> 
            <br>  
            <br>
            <input type="submit" value="Enviar">
            <textarea name="msg" style="height: 200px; width: 400px;"></textarea>                      
        </form>
   </div>


   

    <footer id="rodapé">
        <p>&copy; Recode Pro</p>
    </footer>

</body>
</html>